<form class="form" action="/puppies/{{length}}/add" method="post" enctype="multipart/form-data">


  
  <img class="img-circle" src="/images/puppyProfile.jpg" alt="Preview Image" id="previewImage">
  <label for="image" class="form-item">
    Picture:
    <input type="file" id="fileInput" name="image"   >
    </label> 
  <label for="name" class="form-item">
    Name:
    <input type="text" name="name" value="">
  </label>
  
  <label for="breed" class="form-item">
    Breed:
    <input type="text" name="breed" value="">
  </label>
  
  <label for="owner" class="form-item">
    Owner:
    <input type="text" name="owner" value="">
  </label>
  
  <input type="submit" name="" value="Upload">
</form>

