<div class="container">
  {{#each puppies}}
  <div class="puppy-list">
    <a href="/puppies/{{id}}"><img class="img-circle" src="{{image}}" alt="{{name}}"></a>
    
  </div>
  
  {{/each}}

 <a href="/puppies/{{length}}/add" class="'button">Add New One</a>

</div>
